* {
  font-family: "Acme", sans-serif;
  box-sizing: border-box;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

header {
  padding-top: 2%;
}

header:hover {
  opacity: 1;
}

header > *:hover {
  transform: scale(1.2);
  cursor: pointer;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  padding: 2%;
  width: 100%;
  height: 15vh;
  background-color: black;
  opacity: 0.4;
  box-sizing: border-box;
}

header > div {
  width: 15vw;
}

@media screen and (max-width: 400px) {
  .container {
    order: -1;
  }

  header > div {
    visibility: hidden;
  }
}

.instructionBig {
  position: fixed;
  top: 15vh;
  background: black;
  z-index: 51;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  padding: 10%;
  box-sizing: border-box;
}



.instructionBig img {
  float: right;
  max-width: 50%;
  max-height: 50%;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  color: white;
  position: fixed;
  background: url("beachHouse.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.warning{
  position:fixed;
  top:25%;
  left:25%;
  width:50%;
  margin:0 auto;
  height:50%;
  background:black;
  opacity:1;
}

.warning img{
  float:left;
  max-width: 100%;
  max-height: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  width: 100%;
  text-align: center;
  height:auto;
}


.timer1 {
  left:0;
  width: 50%;
  border: solid white 1px;
  background-color:grey;
}

.tofill{
  height:5vw;
  width:100%;
  background-color:green;
  text-align:center;
}

.timer2 {
  left:0;
  width: 50%;
  border: solid white 1px;
  background-color:grey;
}


.selected {
  border: 1px gold solid;
  transform: rotate(-5deg);
}

.lama {
  background-size: cover;
  background:black;
  align-self: center;
  height: auto;
  width: 10%;
  justify-self: auto;
}



.house {
  margin-top:5%;
  width: 50%;
  height:30%;
  border:solid 1px white;
  align-self: flex-end;
  justify-content: flex-end;
}

.focus {
  border: white 1px solid;
}

.menu_right{
  position:fixed;
  right:0;
  top:0;
  background-color:black;
  color:white;
  width:auto;
}

.bigContainer {
  margin: 15vh auto;
  margin-bottom:0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 100%;
  animation: 10s woops linear;
  text-align: center;
}

.bigContainer > *{
  max-height:30%;
}

li {
  list-style-type: none;
}

h3 {
  font-size: 3vw;
  width: 15vw;
  text-align: center;
}

.container {
  border: solid 1px black;
  padding: 2%;
  margin: 5vh;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  justify-content: center;
  align-content: center;
  height: 250px;
  width: 250px;
  grid-gap: 1%;
  background-color:rgba(0,0,0,0.3)
}



/* .container >*:first-child{
  transform:scale(0.3);
  border: solid black 1px;
  transform:rotate(-45deg)
} */

/* .container >*:nth-child(3n+4){
  transform:scale(0.3);
  border: solid black 1px;
  transform:rotate(-45deg)
} */

[id="40"],
[id="50"] {
  border: 0;
  background: red;
}

.left {
  background-color: blue;
  opacity: 0.8;
}

.right {
  display:flex;
  justify-content: flex-start;
  align-content: space-around;
  flex-direction:row;
  opacity: 0.8;
  width:30%;
}



.down{
  margin:0 25%;;
  justify-content: center;
  background: url("booze.jpeg");
  background-size:cover;
  background-position-y:60%;
  width:30%;

}

*:focus {
  background: red;
}

.timer {
  /* border: solid 1px white; */
  width: 50%;
  top: 0;
  right: 0;
  color: white;
  background: blue;
}

.ecran h1 {
  text-align: center;
  color: white;
}

.container > div {
  opacity: 1;
  width: 20px;
  height: 20px;
}

.joker {
  background: url("donkey.png");
  transform: scale(1.5);
  background-size: 200%;
  background-position-y: 40%;
  background-position-x: 40%;
  opacity: 1;
}

.carotte {
  background:url("Carotte.png");
  background-size: cover;
  transform: scale(1.1);
}



audio {
  visibility: hidden;
}
